<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo List</title>
    <link rel="stylesheet" href="/templates/main/todolist.css">
    <link href="https://cdn.jsdelivr.net/npm/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet">
    <script src="/templates/main/todolist.js" defer></script>
</head>
<body>

<aside id ="body_left">
    <div id="profile_layout">
        <!--로고-->
        <div id="logo">CUSOR_TODO</div>
        <div id="profile_nickname"></div>
    </div>


    <div id="extra2">
        <div class='rap'>
            <div class="header">
                <div class="btn prevDay"></div>
                <h2 class='dateTitle'></h2>
                <div class="btn nextDay"></div>
            </div>

            <div class="grid dateHead">
                <div>일</div>
                <div>월</div>
                <div>화</div>
                <div>수</div>
                <div>목</div>
                <div>금</div>
                <div>토</div>
            </div>

            <div class="grid dateBoard"></div>

        </div>
    </div>


</aside>

<!--옆에 tab_bar-->
<aside id ="body_right">
    <h1>Todo List</h1>
    <div class="span_layout">
        <input type="text" id="todo-title" placeholder="Add new todo">
        <button id = "createButton"onclick="createTodo()">추가</button>
    </div>

    <div id="body_right_list_layout">
        <div id="body_right_list">
            <div id="select_layout">
                <div id="select_1">
                    Todo
                </div>
                <div id="select_2">
                    MeMo
                </div>
            </div>
            <div id="todo-list"></div>
        </div>
    </div>

    <!--<input type="text" id="search-title" placeholder="Search todos">
    <button onclick="searchTodos()">Search</button>-->



</aside>


</body>
</html>
