<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo List</title>
    <link rel="stylesheet" href="/templates/main/todolist.css">
    <link href="https://cdn.jsdelivr.net/npm/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet">
    <script src="/templates/main/todolist.js" defer></script>
</head>
<body>

<aside id ="body_left">
    <div id="profile_layout">
        <div id="profile_nickname"></div>
    </div>

    <div id="extra">


    </div>

    <div id="extra2">
        <div class="wrapper">
            <div class="nav">
                <i class="bx bxs-chevron-left"></i>
                <i class="bx bxs-chevron-right"></i>
            </div>
            <div class="header">
                <!-- 달력 헤더 위치-->
            </div>
            <div id ="calendar"> </div>
        </div>
    </div>



</aside>

<!--옆에 tab_bar-->
<aside id ="body_right">
    <h1>Todo List</h1>
    <div class="span_layout">
        <input type="text" id="todo-title" placeholder="Add new todo">
        <button onclick="createTodo()">추가</button>
    </div>

    <div id="body_right_list_layout">
        <div id="body_right_list">
            <div id="todo-list"></div>
        </div>
    </div>

    <!--<input type="text" id="search-title" placeholder="Search todos">
    <button onclick="searchTodos()">Search</button>-->



</aside>


</body>
</html>
