<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원가입 및 로그인</title>
    <link rel="stylesheet" href="/homeStyle.css">
</head>
<body>
<div class="container">
    <h1>환영합니다!</h1>
    <div class="nav-links">
        <p>
            <a th:href="@{/api/users/signUp}">회원가입</a>
            <a th:href="@{/api/users/signIn}">로그인</a>
            <a th:href="@{/api/users/changePW}">비밀번호 변경</a>
        </p>
    </div>
</div>
</body>
</html>
